%h1 Listing relationships

%table
  %tr
    %th Word a
    %th Word b
    %th Relationship type
    %th User
    %th
    %th
    %th

  - @relationships.each do |relationship|
    %tr
      %td= relationship.word_a_id
      %td= relationship.word_b_id
      %td= relationship.relationship_type_id
      %td= relationship.user_id
      %td= link_to 'Show', relationship
      %td= link_to 'Edit', edit_relationship_path(relationship)
      %td= link_to 'Destroy', relationship, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Relationship', new_relationship_path
