= bootstrap_form_for @usage do |f|
    = f.collection_select :word_id, Word.all, :id, :first_form
    = f.text_field :example
    = f.radio_buttons :priority, { :low => 15, :medium => 10, :false => 5}
    = f.submit 'Save'
