= bootstrap_form_for @word do |f|
  = f.collection_select :part_of_speech_id, PartOfSpeech.all, :id, :name
  = f.collection_select :language_id, Language.all, :id, :name
  = f.hidden_field :user_id, :value => current_user.id
  = f.fields_for :word_histories do |h|
    - if h.object.new_record?
      = h.hidden_field :user_id, :value => current_user.id
      = h.text_field :part_a
      = h.text_field :part_b
      = h.text_field :part_c
      = h.text_field :part_d
      = h.text_field :part_e
      = h.text_field :part_f
    - else
      = nil
  = f.submit 'Save'
