.container
  .row
    .span3
      .well
        %h1= render @word.current
        %p= @word.part_of_speech.name
        %p= @word.language.name
    .span9
      %p= pluralize(@word.word_histories.count, 'edit')
      %hr
      %h3 History
      - for wh in @word.word_histories
        %hr
        = render wh
