= form_for @word_history do |f|
  -if @word_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@word_history.errors.count, "error")} prohibited this word_history from being saved:"
      %ul
        - @word_history.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :word_id
    = f.number_field :word_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :part_a
    = f.text_field :part_a
  .field
    = f.label :part_b
    = f.text_field :part_b
  .field
    = f.label :part_c
    = f.text_field :part_c
  .field
    = f.label :part_d
    = f.text_field :part_d
  .field
    = f.label :part_e
    = f.text_field :part_e
  .field
    = f.label :part_f
    = f.text_field :part_f
  .actions
    = f.submit 'Save'
