%h1 Listing word_histories

%table
  %tr
    %th Word
    %th User
    %th Part a
    %th Part b
    %th Part c
    %th Part d
    %th Part e
    %th Part f
    %th
    %th
    %th

  - @word_histories.each do |word_history|
    %tr
      %td= word_history.word_id
      %td= word_history.user_id
      %td= word_history.part_a
      %td= word_history.part_b
      %td= word_history.part_c
      %td= word_history.part_d
      %td= word_history.part_e
      %td= word_history.part_f
      %td= link_to 'Show', word_history
      %td= link_to 'Edit', edit_word_history_path(word_history)
      %td= link_to 'Destroy', word_history, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Word history', new_word_history_path
